# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [32]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [18]:
# 1- 計算每個不同種類 animal 的 age 的平均數
for animalage in set(df["animal"]):
    print(animalage, df[df["animal"] == animalage]["age"].mean())
print("---------------------------")

# 2- 計算每個不同種類 animal 的 age 的平均數


# 3- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
data1 = df.sort_values(by=["age"])
data2 = data1.sort_values(by=["visits"])
print(data2)
print("---------------------------")

cat 2.5
snake 2.5
dog 5.0
---------------------------
  animal  age  visits priority
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
---------------------------
a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: object

In [37]:
# 4- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df1 = df['priority'].str.replace('yes','True')
df['priority'] = df1
df1 = df['priority'].str.replace('no','False')
df['priority'] = df1
print(df)

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [19]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.103205  0.391795  0.665787
1  0.387517  0.180859  0.870146
2  0.481098  0.669700  0.620787
3  0.998855  0.324341  0.296063
4  0.444152  0.836008  0.102175

In [21]:
#1) 該欄位的平均數
print(df- df.mean())

          0         1         2
0 -0.379760 -0.088745  0.154796
1 -0.095449 -0.299682  0.359154
2 -0.001868  0.189159  0.109795
3  0.515890 -0.156200 -0.214928
4 -0.038813  0.355468 -0.408817

In [22]:
#2) 該筆資料平均數
print(df.sub(df.mean(axis=1),axis=0))

          0         1         2
0 -0.283724  0.004866  0.278858
1 -0.091990 -0.298648  0.390638
2 -0.109431  0.079172  0.030259
3  0.459102 -0.215412 -0.243690
4 -0.016626  0.375230 -0.358604

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [28]:
print(df.sum().idxmin())
print(df.sum(axis=1).idxmin())

1
0

In [34]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

2

In [35]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

0