# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [2]:
import pandas as pd

df = pd.DataFrame({
    "A":[1, 2, 3, 4, 5],
    "B":[5, 7, 8, 9, 10],
    "C":[11, 12, 13, 14 ,15],
}, index=["2013-01-01", "2013-01-02", "2013-01-03", "2013-01-04", "2013-01-05"])

print(df.loc[ '2013-01-01', 'A'], "\n")  
print(df.loc[ '2013-01-01', ['A', 'B'] ] , "\n")
print(df.loc[ '2013-01-01':'2013-01-02', 'A'] , "\n") 
print(df.loc[ '2013-01-01':'2013-01-05', 'A':'C'], "\n")

1

A    1
B    5
Name: 2013-01-01, dtype: int64

2013-01-01    1
2013-01-02    2
Name: A, dtype: int64

            A   B   C
2013-01-01  1   5  11
2013-01-02  2   7  12
2013-01-03  3   8  13
2013-01-04  4   9  14
2013-01-05  5  10  15

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [4]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [27]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)
print("-------------------------------")

print("select the first 3 rows")
print(df.iloc[0:3])
print("-------------------------------")

print("select the odd rows. (index = 1, 3, 5)")
print(df.iloc[1::2])
print("-------------------------------")

print("select the last 2 columns.")
print(df.iloc[4:6])
print("-------------------------------")

print("select the even columns. (index = 0, 2, 4)")
print(df.iloc[0::2])

       col1      col2      col3
0 -0.450379  0.031016  0.773221
1  0.517691  0.238187  0.465275
2 -0.014562 -0.864091  0.381729
3  1.605157  0.688318 -0.085069
4 -0.049185  0.485776 -0.786850
5 -1.292804  0.703598  0.315515
-------------------------------
select the first 3 rows
       col1      col2      col3
0 -0.450379  0.031016  0.773221
1  0.517691  0.238187  0.465275
2 -0.014562 -0.864091  0.381729
-------------------------------
select the odd rows. (index = 1, 3, 5)
       col1      col2      col3
1  0.517691  0.238187  0.465275
3  1.605157  0.688318 -0.085069
5 -1.292804  0.703598  0.315515
-------------------------------
select the last 2 columns.
       col1      col2      col3
4 -0.049185  0.485776 -0.786850
5 -1.292804  0.703598  0.315515
-------------------------------
select the even columns. (index = 0, 2, 4)
       col1      col2      col3
0 -0.450379  0.031016  0.773221
2 -0.014562 -0.864091  0.381729
4 -0.049185  0.485776 -0.786850

In [8]:
'''
Your Code
'''

       col1      col3
0  0.824286 -0.887365
1 -1.044179 -0.975283
2 -1.812146  2.556824
3  1.746811 -1.529704
4  0.992052 -0.858061
5  0.387535  0.714364

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [36]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   28  30  10  14
1   25  33  21  30
2   35  27  12  34
3   28  31  28  29
4   19  16  27  16
5   21  31  32  26
6   30  11  26  28
7   11  20  35  10
8   11  15  10  10
9   19  28  34  32
10  34  16  19  25
11  15  10  38  19
12  39  17  39  26
13  22  28  10  35
14  13  24  29  37

In [52]:
data= df[0]
print(data[data > 20])

0     28
1     25
2     35
3     28
5     21
6     30
10    34
12    39
13    22
Name: 0, dtype: int64

In [57]:
data = df[0] + df[1]
print(data[data > 50])

0     58
1     58
2     62
3     59
5     52
12    56
dtype: int64

In [85]:
# 3. filtered by first column < 30 or second column > 30
data1 = df[0]
data2 = df[1]
print(pd.concat([data1[data1 < 30], data2[data2 > 30]], axis=1))

     0     1
0   28   NaN
1   25  33.0
3   28  31.0
4   19   NaN
5   21  31.0
7   11   NaN
8   11   NaN
9   19   NaN
11  15   NaN
13  22   NaN
14  13   NaN

In [59]:
# 4. filtered by total sum of row > 100
data = df.sum(axis=1)
print(data[data > 100])

1     109
2     108
3     116
5     110
9     113
12    121
14    103
dtype: int64