# [作業目標]


1. [簡答題] 比較下列兩個讀入的 df 有什麼不同？為什麼造成的？

2. 請將 Dcard API 取得所有的看板資訊轉換成 DataFrame，並且依照熱門程度排序後存成一個 csv 的檔案。

# 作業

In [1]:
# 記得先 Import 正確的套件

import pandas as pd

### 1. [簡答題] 比較下列兩個讀入的 df 有什麼不同？為什麼造成的？

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv')
df1

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

In [10]:
df2 = pd.read_csv(
    'https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv',
    keep_default_na=True,
    na_values=['na', '--']
)
df2

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

### 2. 請將 Dcard API 取得所有的看板資訊轉換成 DataFrame，並且依照熱門程度排序後存成一個 csv 的檔案。

In [11]:
import urllib.request as request
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
src = 'https://www.dcard.tw/_api/forums'
with request.urlopen(src) as response:
    data = response.read().decode(encoding="urf-8")

import json
data = json.loads(response)

print(data)

HTTPError: HTTP Error 403: Forbidden

In [8]:
data = pd.DataFrame(data)
data.head() # json 字典寫成 dataframe

NameError: name 'data' is not defined

In [ ]:
# 依照熱門程度(subscriptionCount)排序後存成一個 csv 的檔案。
data = data.sort_values(by=["subscriptionCount"], ascending=False) # 由大排到小
data

In [ ]:
del data["description"]

In [ ]:
data.head()

In [ ]:
data.to_csv("./dcard看板資訊.csv", index=False, sep=",") # 在跟目錄新增 dcard看板資訊的 csv 檔案